body {
	margin: 0;
	box-sizing: border-box;
	font-size: 1.1rem;
}

h1 {
	background: #CCC;
	margin: 0;
	padding: 20px;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	max-width: 900px;
}
.lorem { color: #AAA; }

.scrollable {
	border: 1px solid #AAA;
	height: 250px;
	overflow: auto;
	margin: 1.5rem;
}
.resizable { resize: both; }

img { display: block; } /* removes baseline margin at the bottom */
.nowrap { white-space: nowrap; }